
.icon-plus:before { content: '\e800'; } /* '' */
.icon-products-rd:before { content: '\e801'; } /* '' */
.icon-delete:before { content: '\e802'; } /* '' */
.icon-duplicate:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-page:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-settings:before { content: '\e807'; } /* '' */
.icon-tree:before { content: '\e808'; } /* '' */
.icon-products:before { content: '\e809'; } /* '' */
.icon-monetise:before { content: '\e80a'; } /* '' */
.icon-organise:before { content: '\e80b'; } /* '' */
.icon-dashboard:before { content: '\e80c'; } /* '' */
.icon-personalise:before { content: '\e80d'; } /* '' */
.icon-close:before { content: '\e80e'; } /* '' */
.icon-holistic:before { content: '\e80f'; } /* '' */
.icon-notification:before { content: '\e810'; } /* '' */
.icon-organise-rd:before { content: '\e811'; } /* '' */
.icon-dashboard-rd:before { content: '\e812'; } /* '' */
.icon-personalise-rd:before { content: '\e813'; } /* '' */
.icon-searchendise-rd:before { content: '\e814'; } /* '' */
.icon-monetise-rd:before { content: '\e815'; } /* '' */